#nav{
    display: flex;
background-color: rgb(55, 26, 5);
    justify-content: space-evenly;
    margin: 30px;
    padding: 10px;
    
    
}

#nav a{
    padding: 6px;
    color: white;
    text-decoration: underline;
}



body {
    background-color: beige;
}

.side-by-side{
    width: 1px;
    padding-top: 70px;
    margin-bottom: 50px;
    margin-left: 200px;
}

h1{
    text-align: center;
    color: rgb(56, 26, 6);
    font-size: larger 18px;
    font-style: normal;
}
p{
    color: rgb(56, 26, 6);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
padding-top: 80px;
margin: 20px;
height: 500px;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 250px;
}
.card-img-container {
    width: 300px;
    height: 200px;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card2 {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 10px;

}

.card3 {
    display: flex;
    flex-direction: column;
    width: 300px;
}


.products { display: flex;
flex-direction: row;
justify-content: space-evenly;
padding-top: 80px;
margin: 20px;
height: 500px;

}

.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 250px; 
}

.product-img-container {
 width: 300px;
 height: 200px;
}

.product-img{
     width: 100%;
    height: 100%;
    object-fit: cover
}

.product1{
     width: 200px;


}


.product2{
    width: 1px;
}

.product3{
    width: 5px;
}

footer {
    color:white;
    text-decoration: none;
    display: flex;
    flex-direction:row;
background-color:rgb(55, 26, 5);

}
    
footer a{
    color: white;
    text-decoration: underline;
    justify-content: space-evenly;
    margin: 130px;
    padding-right: 70px;
}